
@{
    ViewBag.Title = "Comment";
}
<br><br>
<h2>Thank you for your comment!</h2>

<footer class="customFooterBlank">
    <div class="divFooter">
        <h6 class="copyrights" id="footerText">All copyrights to NOONE. <a href="#"> Back to top </a></h6>
    </div>
</footer>